<body>
    <h1>Hello world!</h1>
  
  
    <!--<button onclick="alert('You suck')">Don't press</button>-->
  
    <div id="jumbotron" class="jumbotron">
      <h1>Music Player 3000</h1>
      <div class="btn-group">
        <div id="player">
          <audio id="audio"></audio>
          <!--<button id="previous" type="button" class="fa fa-fast-backward"></button>-->
          <button id="play" type="button" class="fa fa-play"></button>
          <button id="pause" type="button" class="fa fa-pause"></button>
          <button id="stop" type="button" class="fa fa-stop"></button>
          <!--<button id="next" type="button" class="fa fa-fast-forward"></button>-->
          <div id="songTracker">
            <input id="songSlider" type="range" max="1000">
          </div>
          <span id="duration"></span>
          <span id="durationFull"></span>
          <form>
            <input id="volume" type="range" min="0" max="10" value="5">
            <p>Volume: <span id="volumevalue"></span></p>
          </form>
        </div>
      </div>
      <div class="container text-black">
        <h2>Playlist</h2>
        <input class="form-control" id="myInput" type="text" onkeyup="myFunction()" placeholder="Search...">
        <br>
          <div>
            <thead>
              <ul id="playlist">
              </ul>
            </thead>
            </ul>
          </div>
      </div>
      <script>
        window.onload = function () {
          player = new Mediaplayer();
        };
      </script>
    </div>
    <script>
      function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("playlist");
    tr = table.getElementsByTagName("li");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("a")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
    </script>
  
  </body>
  
  </html>